body{
  background-color: #304363;
}

.container{
  position: static;
  padding-top: 30vh;
  width: 264px;
  height: 60vh;
  margin: auto;
}

.clocksecond {
  position: relative;
  top: -536px;
}

.clockminute {
  position: relative;
  top: -268px;
}

.clockhour {
  position: relative;
}

.text{
  color: #d4d4d4;
  font-family: monospace;
  margin: auto;
  text-align: center;
}